<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <li>
    <a [routerLink]="[ '/' ]">Home</a>
  </li>
  <li>
    <a [routerLink]="[ '/animationBasic' ]">Ejemplo Basic</a>
  </li>
  <li>
    <a [routerLink]="[ '/animationSVG' ]">Ejemplo SVG</a>
  </li>
  <li>
    <a [routerLink]="[ '/animationLoader' ]">Ejemplo Loader</a>
  </li>
  <li>
    <a [routerLink]="[ '/bonus' ]">Bonus</a>
  </li>
</nav>

<h1 class="container-title">
  <span class="letter">B</span>
  <span class="letter">I</span>
  <span class="letter">M</span>
  <span class="letter">E</span>
  <span class="letter">N</span>
  <span class="letter">S</span>
  <span class="letter">U</span>
  <span class="letter">A</span>
  <span class="letter">L</span>
  <div></div>
  <span class="letter">D</span>
  <span class="letter">E</span>
  <div></div>
  <span class="letter">F</span>
  <span class="letter">R</span>
  <span class="letter">O</span>
  <span class="letter">N</span>
  <span class="letter">T</span>
</h1>




<!-- <button (click)="start()" class="btn">Start</button>
<button (click)="pause()" class="btn">Pause</button>
<button (click)="reverse()" class="btn">Reverse</button>
<button (click)="reset()" class="btn">Reset</button>
<button (click)="showAlert()" class="btn">Show alert</button> -->



<router-outlet></router-outlet>





