
:host{
  margin: auto;
}

div{
  display: inline-block;
}

.letter{
  display: inline-block;
  opacity: 0;
}



nav{
  top: 0;
  left: 50%;
  display: flex;
  position: absolute;
  transform: translate(-50%, 0);
}


.container-title{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-57%, 5px);}

div{
  margin: 0 10px;
}

li{
  list-style: none;
  margin: 10px;
  > a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
  }
}
